.bet-number .bet-wrap>span.win {
    color: #62ca5b !important;
}

.bet-number .bet-wrap>span.lose {
    color: #828f9a !important;
}
.carousel {
    position: relative;
    width: 100%
}

.carousel.pointer-event {
    touch-action: pan-y
}

.carousel .btn-next,
.carousel .btn-prev {
    position: absolute;
    background-color: initial;
    padding: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #5e687e;
    display: flex
}

.carousel .btn-next:focus,
.carousel .btn-next:hover,
.carousel .btn-prev:focus,
.carousel .btn-prev:hover {
    background-color: initial
}

.carousel .btn-next:focus svg,
.carousel .btn-next:hover svg,
.carousel .btn-prev:focus svg,
.carousel .btn-prev:hover svg {
    fill: #939caf
}

.carousel .btn-next {
    right: -30px
}

.carousel .btn-next svg {
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

.carousel .btn-prev {
    left: -30px
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner:after {
    display: block;
    clear: both;
    content: ""
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        -webkit-transition: none;
        transition: none
    }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: space-between
}

.active.carousel-item-right,
.carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity 0s .6s;
    transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
        -webkit-transition: none;
        transition: none
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

@media (prefers-reduced-motion:reduce) {
    .carousel-control-next,
    .carousel-control-prev {
        -webkit-transition: none;
        transition: none
    }
}

.carousel-control-prev {
    left: -70px;
}

.carousel-control-next {
    right: -70px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%
}

.hits__area {
    background-color: transparent;
    padding: 20px 30px;
    border-radius: 0 0 6px 6px
}

.hits__area .items-6 .hits__item {
    width: calc(16.66% - 15px)
}

.hits__area .items-5 .hits__item {
    width: calc(20% - 15px)
}

.hits__area .items-1 .hits__item,
.hits__area .items-2 .hits__item,
.hits__area .items-3 .hits__item,
.hits__area .items-4 .hits__item {
    width: calc(25% - 15px)
}

.hits__area .carousel-item:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #353b47;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.hits__item {
    width: 13.07%;
    border: 1px solid hsla(0, 0%, 59.2%, .087);
    border-radius: 8px;
    padding: 12px;
    color: #555;
    background: #121212;
    z-index: 2;
    -webkit-transition: all .3s;
    transition: all .3s;
    white-space: nowrap;
    max-width: 100px;
    text-align: center;
}
.hits__item.active {
    user-select: none;
    background: #444444;
    color: #fff;
}
@media(max-width:820px) {
	.hits__area .items-6 .hits__item {
		width: calc(14.66% - 15px);
	}
	.hits__item {
        padding: 9px 0px;
        margin: 16px;
	}
	.carousel-control-prev {
		left: -40px;
	}
	.carousel-control-next {
		right: -40px;
	}
	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		display: flex;
		justify-content: center;
	}
}


.hits__item .hits__coef {
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo 2", "Open Sans", sans-serif;
    margin-bottom: 3px
}

.hits__item .hits__step {
    font-size: 9px
}

.hits__item.hits_current__1ROZd {
    color: #fff;
    background: #62ca5b;
    border-color: #62ca5b
}

.hits__item.hits_highlight__1UhDD {
    color: #4986f5;
    border-color: #4986f5
}

@media (max-width:900px) {
    .hits__area {
        padding: 10px 30px
    }
}

@media (max-width:1299px) {
    .hits__item .hits__coef {
        font-size: 13px
    }
}

@media (max-width:1170px) {
    .hits__item .hits__coef {
        font-size: 10px
    }
}

@media (max-width:900px) {
    .hits__item .hits__coef {
        margin: 0;
        text-align: center
    }
    .hits__item .hits__step {
        display: none
    }
}

.mines__component {
    padding: 25px 30px;
    width: 100%
}

.mines__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    -webkit-tap-highlight-color: transparent
}

.mines__wrapper.mines_isEmbed__2CiZr {
    max-width: 100%
}
.mines__btn {
    position: relative;
    display: flex;
    width: calc(20% - 6px);
    margin: 0 3px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    padding: 0;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background: #27282c;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.mines__btn:hover {
    background: #222;
}
.mines__btn.active, .mines__btn.active:hover {
    pointer-events: none;
    user-select: none;
    background: #27282d;
}
.mines__btn[disabled] {
    cursor: default;
    pointer-events: none
}

.mines__btn:focus {
    outline: none
}

.mines__btn:before {
    content: "";
    display: block;
    padding-top: 100%
}
.mines__btn.active .mines_appear {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
    background: url(/img/sprite.png) no-repeat 0 0;
    background-size: 1840px;
    margin: -5px 0 0 -1px;
    opacity: 0;
    animation: mines_sprite .39s steps(22) .3s forwards;
}
.mines__btn.use .progress__img {
    transition: .39s;
    animation: mines_appear .39s forwards;
}
@keyframes mines_appear {
    0% {
        transform: scale(1.0);
    }

    70% {
        transform: scale(1.4);
    }

    to {
        transform: scale(1.0);
    }
}
@keyframes mines_sprite {
    0% {
        background-position: 0 0;
        opacity: 1
    }

    70% {
        opacity: 1
    }

    to {
        opacity: 0;
        background-position: 100% 0
    }
}
.mines__btn:after {
    content: "";
    position: absolute;
    background-color: #689dff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    opacity: 0
}
.mines__animation {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
    background: url(/static/media/gem.svg) no-repeat 0 0;
    background-size: 1840px;
    margin: -5px 0 0 -1px;
    opacity: 0
}

@media (max-width:1356px) {
    .mines__wrapper {
        max-width: 340px
    }
}

@media (max-width:1170px) {
    .mines__wrapper {
        max-width: 310px
    }
}

@media (max-width:1099px) {
    .mines__wrapper {
        max-width: 280px
    }
}

@media (max-width:991px) {
    .mines__wrapper {
        max-width: 250px
    }
}

@media (max-width:900px) {
    .mines__component {
        padding: 15px 10px
    }
    .mines__wrapper {
        max-width: 400px
    }
}

@media (max-width:480px) {
    .mines__wrapper {
        max-width: 280px
    }
}

@media (max-width:1170px) {
    .mines-prefix .game-block {
        padding: 0
    }
    .mines-prefix .game-area {
        border: none
    }
    .mines-prefix .game-area .bottom-corners,
    .mines-prefix .game-area .top-corners {
        display: none
    }
}

.progress__wrapper {
    flex: none;
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.progress__item {
    border: 1px solid hsla(0, 0%, 59.2%, .087);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
    padding: 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 80px;
    pointer-events: none
}

.progress__item.progress__left {
    border-radius: 0 15px 15px 0;
    border-left: 0
}

.progress__item.progress__right {
    border-radius: 15px 0 0 15px;
    border-right: 0
}

.progress__img {
    width: 32px;
    height: 32px;
    position: relative
}

.progress__img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 32px;
    height: auto
}

.progress__img.progress__bomb img {
    width: 25px;
    height: auto
}

.progress__number {
    margin-top: 10px;
    color: #898886;
    font-weight: 700;
    font-size: 16px
}

@media (max-width:1356px) {
    .progress__item {
        width: 60px
    }
    .progress__img img {
        width: 24px;
        height: auto
    }
    .progress__img.progress__bomb img {
        width: 17px
    }
}

@media (max-width:1099px) {
    .progress__item {
        width: 40px
    }
    .progress__img img {
        width: 18px;
        height: auto
    }
    .progress__img.progress__bomb img {
        width: 15px
    }
    .progress__number {
        font-size: 13px
    }
}

@media (max-width:900px) {
    .progress__wrapper {
        display: none
    }
}

.start-mines-btn {
    margin-bottom: 5px;
}

.mines__wrapper.game-started .mines__btn {
        background-color: #11263c;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23235' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    filter: invert(1);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23235' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    filter: invert(1);
}
.buttons-group .btn-action.isActive, .btn-action.isActive:hover {
    background: #353535;
}

.game-history.scrollable {
    margin-bottom: -10px;
    padding-bottom: 10px
}

.game-history__wrap {
    width: 100%;
    background-color: #202a51;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    overflow: hidden
}
.game-history {
    display: flex;
}
.mines-picker {
    border: 0.5px solid #fff;
    position: absolute;
    left: calc(50%);
    height: 70px;
    bottom: 2px;
    z-index: 99;
}
.game-history .item {
    margin-right: 10px;
    text-align: center;
    padding: 6px 12px;
    min-width: 85px;
    border-radius: 6px;
    background-color: #152149;
    cursor: pointer;
}

.game-history .item.isAnimate {
    -webkit-animation: shiftFromLeft .3s linear;
    animation: shiftFromLeft .3s linear
}

.game-history .item:last-child {
    margin-right: 0
}

.game-history .item .item-bet {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -1px;
}

.game-history .item .item-result {
    font-size: 11px;
    color: #5e687e
}

.game-history .item .item-result i {
    font-size: 8px
}